<h1>Profile Page</h1>

<h3>Name: <%= @user.name %></h3>
<br>

<ul>
  <li><h4>Username:</h4> <p><%= @user.username %></p></li>
  <li><h4>Num. of Tracked Properties:</h4> <p><%= @user.properties.count %></p></li>
  <li><h4>Signed Up:</h4> <p><%= @user.created_at.strftime("%m-%d-%Y") %></p></li>
</ul>
