<h1>Track a New Property</h1>

<form action="/properties" method="post">
 
 <label for="date">Date:</label>
 <input type="text" id="date" name="property[date]">
 <br>
 <label for="address">Address:</label>
 <input type="text" id="address" name="property[address]">
 <br>
 <label for="price">Price:</label>
 <input type="number" id="price" name="property[price]">
 <br>
 <label for="sqft">Sqft:</label>
 <input type="number" id="sqft" name="property[sqft]">
 <br>
 <label for="image">Image URL:</label>
 <input type="text" id="image" name="property[image]">
 <br>
 <label for="score">Rating 1-10:</label>
 <input type="number" id="score" name="property[score]">
 <br>
 <label for="notes">Notes:</label>
 <textarea id="notes" name="property[notes]" rows="4" cols="50"></textarea>
 <br>
 <input type="submit" value="Sign Up">

</form>