<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>RealInvestor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

   <div class="wrapper">

    <a href="/">Home</a>

    <% if logged_in? %>
      <a style="padding: 50px;" href="/users/<%= current_user.id %>">My Profile</a>
    
      <a href="/properties">My Properties</a>
      
      <a style="padding: 50px;" href="/properties/new">Add New Property</a>
    
      <a href="/logout">Log Out</a>
    
    <% end %>

    <% if flash[:message] %>
      <br><br>
      <h4 style="color:blue;"><%= flash[:message] %></h4>
    <% end %>

    <% if flash[:error] %>
      <br><br>
      <h4 style="color:red;"><%= flash[:error] %></h4>
    <% end %>

   

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>RealInvestor</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
