<h1>Welcome to Real Investor!</h1>
<br>
<h2>We help you keep track of your potential real estate investments like a pro!</h2>

<img src="https://www.camelot-homes.com/images/front03.jpg" alt="beautiful house" style="vertical-align:middle;margin:50px 50px">

<h4>Well, what are you waiting for?! <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> already!</h4>
